/*
 *  Elements
 */
body {
    background-color: rgb(145, 145, 145);
    font-family: monospace;
}

p {
    max-width: 60ch;
}

/*
 *  Classes 
 *  [ .<classname> ]
 */
div.code {
    font-size: 12pt;
    font-family: courier new;
    color:rgb(255, 255, 255);
    width: 60ch;
    min-width: 60ch;
    max-height: 11em;
    background-color: #000000;
    overflow-x: auto;
    padding: 5px 5px 5px 5px;
    border: solid 2px #dce6f0;
    border-radius: 0.5rem;
    white-space: pre-wrap;
    resize: horizontal;
}

button.code {
    font-size: 12pt;
    font-family: courier new;
    border-radius: 0.5rem;
    margin-top: 5px;
    color: #000000;
}

p.result {
    color:rgb(255, 255, 255);
    font-size: 12pt;
    font-family: courier new;
    border: solid 2px #dce6f0;
    border-radius: 0.5rem;
    background-color: #2b7c24;
    padding: 5px 5px 5px 5px;
    min-width: 60ch;
    margin-top: 5px;
}

p.error {
    color: rgb(172, 6, 6);
    font-size: 10pt;
    margin-top: 0px;
}

p.disclaimer {
    font-size: 8px;
}

div.user_input {
    font-weight: bold;
    font-size: 15pt;
    width: 100%;
}

table.user_input th{
    text-align: right;
    font-size: 15pt;
}

.text_input {
    border-radius: 0.5rem;
    padding-left: 5px;
}

.number_input_XX {
    border-radius: 0.5rem;
    padding-left: 5px;
    width: 5ch;
}

.number_input_XXX {
    border-radius: 0.5rem;
    padding-left: 5px;
    width: 6ch;
}

.number_input_XXXX {
    border-radius: 0.5rem;
    padding-left: 5px;
    width: 7ch;
}

.select_input {
    border-radius: 0.5rem;
    padding-left: 5px;
}

.hide {
    display: none;
}

.bg_red {
    background-color: red;
    color: white;
}

.bg_blue {
    background-color: blue;
    color: white;
}

.bg_green {
    background-color: green;
    color: white;
}

.header {
    text-align: left;
}

/*.main {
    max-width: 66ch;
    margin-left: auto;
    margin-right: auto;
}*/

.footer p {
    max-width: initial;
    text-align: center;
}

/*
 *  IDs
 *  [ #<idname> ]
 */