/*
 *  Elements
 */
 body {
    background-color: rgb(145, 145, 145);
    font-family: monospace;
}

p {
    max-width: 60ch;
}

/*
 *  Classes 
 *  [ .<classname> ]
 */
div.code {
    font-size: 12pt;
    font-family: courier new;
    color:rgb(255, 255, 255);
    width: 60ch;
    min-width: 60ch;
    max-height: 11em;
    background-color: #000000;
    overflow-x: auto;
    padding: 5px 5px 5px 5px;
    border: solid 2px #dce6f0;
    border-radius: 0.5rem;
    white-space: pre-wrap;
    resize: horizontal;
}

button.code {
    font-size: 12pt;
    font-family: courier new;
    border-radius: 0.5rem;
    margin-top: 5px;
    color: #000000;
}

p.result {
    color:rgb(255, 255, 255);
    font-size: 12pt;
    font-family: courier new;
    border: solid 2px #dce6f0;
    border-radius: 0.5rem;
    background-color: #2b7c24;
    padding: 5px 5px 5px 5px;
    min-width: 60ch;
    margin-top: 5px;
}

textarea.code {
    font-size: 12pt;
    font-family: courier new;
    color:rgb(255, 255, 255);
    width: 60ch;
    min-width: 60ch;
    background-color: #000000;
    overflow-x: auto;
    padding: 5px 5px 5px 5px;
    border: solid 2px #dce6f0;
    border-radius: 0.5rem;
    white-space: pre-wrap;
}

div.results {
    width: 60ch;
    min-width: 60ch;
    padding: 5px;
    border-radius: 0.5rem;
    resize: both;
}

p.error {
    color: rgb(172, 6, 6);
    font-size: 10pt;
    margin-top: 0px;
}

p.disclaimer {
    font-size: 8px;
}

div.user_input {
    font-weight: bold;
    font-size: 15pt;
    width: 100%;
    border-collapse: collapse;
}

table.user_input th {
    text-align: right;
    font-size: 15pt;
}

table.information_results {
    margin-top: 10px;
    width: 60ch;
    min-width: 60ch;
    border: 1px solid black;
}

table.assignments {
    border: 2px solid black;
    border-collapse: collapse;
    margin-top: 5px;
}

table.assignments th {
    vertical-align: top;
    font-size: 15px;
    text-align: center;
}

table.assignments td, table.assignments th {
    border: 2px solid black;
    padding: 2px;
}

table.stored {
    margin-top: 5px;
    border-collapse: collapse;
    border: 2px solid black;
}

table.stored th {
    vertical-align: top;
    font-size: 15px;
    text-align: center;
    border: 2px solid black;
    padding: 2px;
}

table.stored td {
    border: 2px solid black;
    cursor: pointer;
    vertical-align: center;
    padding: 3px;
}

table.stored tr:nth-child(odd) {
    background: rgb(158, 158, 158);
    transition: 0.5s;
}

table.stored tr:nth-child(even) {
    background: rgb(122, 122, 122);
    transition: 0.5s;
}

table.stored tr:not(:first-child):hover {
    cursor: pointer;
    transition: 0.5s;
    background: rgb(77, 77, 77);
}

.close {
    text-align: center;
    font-size: 17px;
    transition: 0.5s;
}
  
.close:hover {
    background-color: #ff0000;
    color: white;
    transition: 0.5s;
}

table.information_results th {
    font-size: 15pt;
    text-align: center;
    padding: 5px;
}

table.information_results td {
    font-size: 10pt;
    text-align: left;
    padding: 2px;
    margin: 2px;
}

table.friends {
    width: 82ch;
    min-width: 82ch;
    margin: 3px;
    padding: 0px;
    border-collapse: collapse;
}

table.friends th {
    font-size: 15pt;
    text-align: center;
}

table.friends td {
    border: 2px solid black;
    text-align: left;
    vertical-align: top;
    padding: 2px;
    margin: 0px;
}

.text_input {
    border-radius: 0.5rem;
    padding-left: 5px;
}

.number_input_XX {
    border-radius: 0.5rem;
    padding-left: 5px;
    width: 5ch;
}

.number_input_XXX {
    border-radius: 0.5rem;
    padding-left: 5px;
    width: 6ch;
}

.number_input_XXXX {
    border-radius: 0.5rem;
    padding-left: 5px;
    width: 7ch;
}

.select_input {
    border-radius: 0.5rem;
    padding-left: 5px;
}

.date_input::-webkit-inner-spin-button {
    display: none;
}

.date_input {
    border-radius: 0.5rem;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 15ch;
}

.hide {
    display: none;
}

.bg_red {
    background-color: red;
    color: white;
}

.bg_blue {
    background-color: blue;
    color: white;
}

.bg_green {
    background-color: green;
    color: white;
}

.header {
    text-align: left;
}

/*.main {
    max-width: 66ch;
    margin-left: auto;
    margin-right: auto;
}*/

.footer p {
    max-width: initial;
    text-align: center;
}

/*
 *  IDs
 *  [ #<idname> ]
 */