/*
 *  Elements
 */
 body {
    background-color: rgb(145, 145, 145);
    font-family: monospace;
}

/*
 *  Classes 
 *  [ .<classname> ]
 */
.footer p {
    max-width: initial;
    text-align: center;
}

div.entry {
    font-size: 12pt;
    font-family: courier new;
    color:rgb(255, 255, 255);
    width: 60ch;
    min-width: 60ch;
    max-height: 11em;
    background-color: #077a8f;
    overflow-x: auto;
    padding: 5px 5px 5px 5px;
    border: solid 2px #dce6f0;
    border-radius: 0.5rem;
    white-space: pre-wrap;
    resize: horizontal;
}

.hide {
    display: none;
}

div.main {
    font-size: 12pt;
    font-family: courier new;
    color:#000000;
    width: 60ch;
    min-width: 60ch;
    background-color: #96cef3;
    overflow-x: auto;
    padding: 5px 5px 5px 5px;
    border: solid 2px #dce6f0;
    border-radius: 0.5rem;
    resize: vertical;
}

button {
    font-size: 12pt;
    width: 4em;
    font-family: courier new;
    border-radius: 0.5rem;
    margin-top: 5px;
    color: #000000;
}

.container {
    border: 2px solid #000000;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
.darker {
    border-color: #000000;
    background-color: #838383;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

/*
 *  IDs
 *  [ #<idname> ]
 */
 #chat-area {
    max-height: 20em;
    overflow-y: auto;
    border: 2px solid #00ff2a;
 }

 /*
 *  Key Frames
 *  [ @keyframes <name> ]
 */